services:
  typesense:
    image: typesense/typesense:26.0
    container_name: typesense
    restart: on-failure
    ports:
      - "8108:8108"
    volumes:
      - ./app/data/dbdata:/data
    command: '--data-dir /data --api-key=${TYPESENSE_API_KEY} --enable-cors'
    env_file:
      - .env

  text2sql-agent:
    build:
      context: .
      dockerfile: Dockerfile
    image: text2sql-agent
    container_name: text2sql-agent
    restart: on-failure
    ports:
      - "8015:8000"
    depends_on:
      - typesense
    env_file:
      - .env
    pull_policy: never

networks:
  default:
    name: kai_network
    external: true